# CI for Product Catalog Service
name: product-catalog-ci
on:
    pull_request:
     branches:
       - main
jobs:

  build:
    runs-on: ubuntu-latest

    steps:
     - name: checkoout code
       uses: actions/checkout@v4

     - name: setup go 1.22
       uses: actions/setup-go@v2
       with:
            go-version: 1.22
     
     - name: build
       run: |
         cd src/product-catalog 
         go mod download
         go build -v -o product-catalog-serive main.go

     - name: unit tests
       run: |
          cd src/product-catalog
          go test -v ./...
  


  code-quality:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup go 1.22
        uses: actions/setup-go@v2
        with:
            go-version: 1.22

      - name: run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.59.1
          run: golanci-lint run
          working-directory: src/product-catalog

  docker:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: install docker buldx
        uses: docker/setup-buildx-action@v1

      - name: login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: build and push image
        uses: docker/build-push-action@v4
        with:
          context: src/product-catalog
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/product-catalog:${{ github.run_id }}


  updatek8s:
    runs-on: ubuntu-latest
    needs: docker

    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: update tsg in kubernetes manifests
        run: |
          sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/product-catalog:${{github.run_id}}|" kubernetes/productcatalog/deploy.yaml

      - name: commit and push Changes
        run: |
          git config --global user.name "SujashNagarkoti"
          git config --global user.email "sujash.nagarkoti803@gmai.com"
          git add .
          git commit -m "[CI]: Update product catalog image tag"
          git push origin HEAD:main -f