name: product-catalog-ci

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.22
      - name: download dependencies
        run: go mod download ./src/product-catalog
          
      - name: Build the application
        run: go build -o product-catalog-service src/product-catalog/main.go

      - name: Run tests
        run: go test ./src/product-catalog

  code-quality:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.50.1
          golangci-lint run ./src/product-catalog/...

  docker:
    runs-on: ubuntu-latest
    needs:
      - build
      - code-quality

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/product-catalog-service:${{ github.run_id }}

  k8s-update:
    runs-on: ubuntu-latest
    needs: docker

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update Kubernetes manifest
        run: |
          sed -i 's|image: .*|image: '"${{ secrets.DOCKER_HUB_USERNAME }}"'/product-catalog-service:'"${{ github.run_id }}"'|g' k8s/product-catalog-deployment.yaml

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add k8s/product-catalog-deployment.yaml
          git commit -m "Update product-catalog image"
          git push origin main